@model EntidadesCompartidas.Vuelo

@{
    ViewBag.Title = "Consultar Vuelo";
}

<h2>Consultar Vuelo</h2>

@ViewBag.Mensaje

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDvuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDvuelo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PrecioVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVuelo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHoraLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadAsientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadAsientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AeropuertoSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AeropuertoSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AeropuertoLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AeropuertoLlegada)
        </dd>
    </dl>
</div>
