@model  Logica.ILogicaVuelo
@{
    ViewBag.Title = "Alta de Vuelo";
}

<h2>Alta de Vuelo</h2>

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-danger">
        @Html.Raw(ViewBag.Mensaje)
    </div>
}

@using (Html.BeginForm("FormAltaVuelo", "VuelosControlador", FormMethod.Post))
{
    <div class="form-group">
        <label for="AeropuertoSalida">Aeropuerto de Salida</label>
        @Html.DropDownListFor(model => model.AeropuertoSalida.IDAeropuerto, (SelectList)ViewBag.ListA, "Seleccione un aeropuerto", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="AeropuertoLlegada">Aeropuerto de Llegada</label>
        @Html.DropDownListFor(model => model.AeropuertoLlegada.IDAeropuerto, (SelectList)ViewBag.ListB, "Seleccione un aeropuerto", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="FechaHoraSalida">Fecha y Hora de Salida</label>
        @Html.TextBoxFor(model => model.FechaHoraSalida, new { @class = "form-control", @type = "datetime-local" })
    </div>
    <div class="form-group">
        <label for="PrecioVuelo">Precio del Vuelo</label>
        @Html.TextBoxFor(model => model.PrecioVuelo, new { @class = "form-control", @type = "number", step = "0.01" })
    </div>
    <div class="form-group">
        <label for="CantidadAsientos">Cantidad de Asientos</label>
        @Html.TextBoxFor(model => model.CantidadAsientos, new { @class = "form-control", @type = "number" })
    </div>
    <button type="submit" class="btn btn-primary">Crear Vuelo</button>
}

<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Cancelar</a>
