@model  List<EntidadesCompartidas.Vuelo>

@{
    ViewBag.Title = "Lista de Vuelos";
}

<h2>Lista de Vuelos</h2>

@ViewBag.Mensaje

@using (Html.BeginForm("FormListaVuelo", "Vuelos", FormMethod.Get))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("pFecha", "Fecha", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBox("pFecha", null, new { @class = "form-control", type = "date" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("pOpcion", "Opción", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("pOpcion", new SelectList(new List<SelectListItem>
                {
                    new SelectListItem { Text = "Seleccionar", Value = "" },
                    new SelectListItem { Text = "Partidas", Value = "Partidas" },
                    new SelectListItem { Text = "No Partidas", Value = "No_Partidas" }
                }), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("pAeropuerto", "Aeropuerto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("pAeropuerto", (SelectList)ViewBag.ListaA, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model != null && Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Vuelo</th>
                <th>Fecha/Hora Salida</th>
                <th>Fecha/Hora Llegada</th>
                <th>Aeropuerto Salida</th>
                <th>Aeropuerto Llegada</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var vuelo in Model)
            {
                <tr>
                    <td>@vuelo.IDvuelo</td>
                    <td>@vuelo.FechaHoraSalida</td>
                    <td>@vuelo.FechaHoraLlegada</td>
                    <td>@vuelo.AeropuertoSalida.Nombre</td>
                    <td>@vuelo.AeropuertoLlegada.Nombre</td>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay vuelos registrados.</p>
}
