@model IEnumerable<EntidadesCompartidas.Vuelo>

@{
    ViewBag.Title = "FormListarVuelo";
}

<h2>Listado Vuelo</h2>

@ViewBag.Mensaje


<p>
    @Html.ActionLink("Nuevo ", "FormAltaVuelo")
    @Html.ActionLink(" Volver", "Principal", "Home")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div>
            @Html.TextBox("DatoFiltro")
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDvuelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAeropuertoSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAeropuertoLlegada)
        </th>
        <th></th>
    </tr>

    @foreach (EntidadesCompartidas.Vuelo unVuelo in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => unVuelo.IDvuelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unVuelo.IDAeropuertoSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unVuelo.IDAeropuertoLlegada)
            </td>
       
        </tr>
    }

