@model EntidadesCompartidas.Ciudad

@{
    ViewBag.Title = "Agregar Ciudad";
}

<h2>Agregar Ciudad</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm("FormAgregarCiudad", "CiudadController.cs", FormMethod.Post))
{
    <div>
        <label for="NombreCiudad">Nombre:</label>
        @Html.TextBoxFor(model => model.NombreCiudad)
        @Html.ValidationMessageFor(model => model.NombreCiudad)
    </div>

    <div>
        <label for="Pais">País:</label>
        @Html.TextBoxFor(model => model.NombrePais)
        @Html.ValidationMessageFor(model => model.NombrePais)
    </div>

    <div>
        <label for="CodigoPostal">IDCiudad:</label>
        @Html.TextBoxFor(model => model.IDCiudad)
        @Html.ValidationMessageFor(model => model.IDCiudad)
    </div>

    

    <div>
        <input type="submit" value="Agregar" />
    </div>
}
}


