@model  EntidadesCompartidas.Ciudad

@{
    ViewBag.Title = "Eliminar Ciudad";
}

<h2>Eliminar Ciudad</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@if (Model != null && !string.IsNullOrEmpty(Model.IDCiudad))
{
    <div>
        <label>Nombre:</label>
        <span>@Html.DisplayFor(model => model.NombreCiudad)</span>
    </div>

    <div>
        <label>País:</label>
        <span>@Html.DisplayFor(model => model.NombrePais)</span>
    </div>

    <div>
        <label>Código Postal:</label>
        <span>@Html.DisplayFor(model => model.IDCiudad)</span>
    </div>

   

    <div>
        <p>¿Está seguro de que desea eliminar esta ciudad?</p>
        @using (Html.BeginForm("FormBajaCiudad", "CiudadController.cs", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.IDCiudad)
            <input type="submit" value="Eliminar" />
            @Html.ActionLink("Cancelar", "MenuCiudades", "Ciudad")
        }
    </div>
}
else
{
    <div>
        <p>No se encontró información de la ciudad.</p>
    </div>
}
