@model  EntidadesCompartidas.Ciudad

@{
    ViewBag.Title = "Consultar Ciudad";
}

<h2>Consultar Ciudad</h2>

@ViewBag.Mensaje

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCiudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>

        

    </dl>
</div>
