@model  EntidadesCompartidas.Ciudad

@{
    ViewBag.Title = "Consultar Ciudad";
}

<h2>Consultar Ciudad</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@if (Model != null && !string.IsNullOrEmpty(Model.IDCiudad))
{
    <div>
        <label>Ciudad:</label>
        <span>@Html.DisplayFor(model => model.NombreCiudad)</span>
    </div>

    <div>
        <label>País:</label>
        <span>@Html.DisplayFor(model => model.NombrePais)</span>
    </div>

    <div>
        <label>IDCiudad:</label>
        <span>@Html.DisplayFor(model => model.IDCiudad)</span>
    </div>


    <div>
        @Html.ActionLink("Volver al Menú de Ciudades", "MenuCiudades", "Ciudad")
    </div>
}
else
{
    <div>
        <p>No se encontró información de la ciudad.</p>
    </div>
}
