@model  EntidadesCompartidas.Ciudad
@{
    ViewBag.Title = "Eliminar Ciudad";
}

<h2>Eliminar Aeropuerto</h2>

@ViewBag.Mensaje

<h3>¿Esta Seguro de eliminar esta Ciudad?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCiudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IDCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCiudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePais)
        </dt>

        

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>

