@model   IEnumerable<EntidadesCompartidas.Ciudad>


@{
    ViewBag.Title = "Menu de Ciudad";
}

<h2>Menu de Aeropuertos</h2>

<p>
    @Html.ActionLink("Añadir Ciudad", "FormAltaCiudad")
</p>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div>
            @Html.TextBox("Filtro")
            <input type="submit" value="Filtrar" class="btn btn-default" />

        </div>
    </div>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePais)
        </th>
        <th></th>
    </tr>

    @foreach (EntidadesCompartidas.Ciudad item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>

            <td>
                @Html.ActionLink("Modificar", "ModificarCiudad", new { item.IDCiudad }) |
                @Html.ActionLink("Consultar", "FormConsultarCiudad", new { item.IDCiudad }) |
                @Html.ActionLink("Eliminar", "FormBajaCiudad", new { item.IDCiudad })
            </td>
        </tr>
    }

</table>
