@model  EntidadesCompartidas.Ciudad

@{
    ViewBag.Title = "FormListarCiudad";
}

<h2>Listado de CIUDADES</h2>

@ViewBag.Mensaje


<p>
    @Html.ActionLink("Nuevo ", "FormAltaCiudad")
    @Html.ActionLink(" Volver", "Principal", "Home")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div>
            @Html.TextBox("DatoFiltro")
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCiudad)
        </th>
        <th></th>
    </tr>

    @foreach (EntidadesCompartidas.Ciudad _ciudad  in EntidadesCompartidas.Ciudad)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => _ciudad.IDCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => _ciudad.NombreCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => _ciudad.NombrePais)
            </td>
            <td>
                @Html.ActionLink("Modificar", "FormModificarCiudad", new { _ciudad.IDCiudad }) @**@
                @Html.ActionLink("Consultar", "FormConsultaCiudad", new { _ciudad.IDCiudad })
                @Html.ActionLink("Borrar", "FormBajaCiudad", new { _ciudad.IDCiudad })
            </td>
        </tr>
    }


</table>
