@model  EntidadesCompartidas.Ciudad

@{
    ViewBag.Title = "Modificar Ciudad";
}

<h2>Modificar Ciudad</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.HiddenFor(model => model.IDCiudad)
    </div>

    <div>
        <label>Nombre:</label>
        @Html.EditorFor(model => model.NombreCiudad)
        @Html.ValidationMessageFor(model => model.NombreCiudad)
    </div>

    <div>
        <label>País:</label>
        @Html.EditorFor(model => model.NombrePais)
        @Html.ValidationMessageFor(model => model.NombrePais)
    </div>

    <div>
        <label>IDCiudad:</label>
        @Html.EditorFor(model => model.IDCiudad)
        @Html.ValidationMessageFor(model => model.IDCiudad)
    </div>

   

    <div>
        <input type="submit" value="Guardar cambios" />
        @Html.ActionLink("Cancelar", "FormCiudadConsultar", "Ciudad", new { IDCiudad = Model.IDCiudad }, null)
    </div>
}
