@model  EntidadesCompartidas.Clientes

@{
    ViewBag.Title = "Alta de Cliente";
}

<h2>Alta de Cliente</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label>IDPasaporte:</label>
        @Html.EditorFor(model => model.IDPasaporte)
        @Html.ValidationMessageFor(model => model.IDPasaporte)
    </div>

    <div>
        <label>Nombre:</label>
        @Html.EditorFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div>
        <label>Contrasena:</label>
        @Html.EditorFor(model => model.Contrasena)
        @Html.ValidationMessageFor(model => model.Contrasena)
    </div>

    <div>
        <label>NTarjeta:</label>
        @Html.EditorFor(model => model.NTarjeta)
        @Html.ValidationMessageFor(model => model.NTarjeta)
    </div>

    <!-- Agrega más campos según lo necesites -->

    <div>
        <input type="submit" value="Agregar Cliente" />
        @Html.ActionLink("Cancelar", "MenuClientes", "Cliente")
    </div>
}
