@model  EntidadesCompartidas.Clientes

@{
    ViewBag.Title = "Baja de Cliente";
}

<h2>Baja de Cliente</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label>ID Pasaporte:</label>
        @Html.DisplayFor(model => model.IDPasaporte)
    </div>

    <div>
        <label>Nombre:</label>
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div>
        <label>Contraseña:</label>
        @Html.DisplayFor(model => model.Contrasena)
    </div>

    <div>
        <label>Número de Tarjeta:</label>
        @Html.DisplayFor(model => model.NTarjeta)
    </div>

    <div>
        <input type="submit" value="Eliminar Cliente" />
        @Html.ActionLink("Cancelar", "MenuClientes", "Cliente")
    </div>
}
