@model  IEnumerable<EntidadesCompartidas.Clientes>

@{
    ViewBag.Title = "Menu de Clientes";
}

<h2>Menu de Clientes</h2>

<p>
    @Html.ActionLink("Añadir Cliente", "FormAltaCliente")
</p>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div>
            @Html.TextBox("Filtro")
            <input type="submit" value="Filtrar" class="btn btn-default" />

        </div>
    </div>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDPasaporte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (EntidadesCompartidas.Clientes item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPasaporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.ActionLink("Modificar", "FormModificarCliente", new { item.IDPasaporte}) |
                @Html.ActionLink("Consultar", "FormConsultaCliente", new { item.IDPasaporte}) |
                @Html.ActionLink("Eliminar", "FormBajaCliente", new { item.IDPasaporte})
            </td>
        </tr>
    }

</table>
