@model EntidadesCompartidas.Clientes

@{
    ViewBag.Title = "Consultar Clientes";
}

<h2>Consultar Clientes</h2>

@ViewBag.Mensaje

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDPasaporte)
        </dt>
                <dd>
            @Html.DisplayFor(model => model.IDPasaporte)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
                <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>
                <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.NTarjeta)
        </dt>
                <dd>
            @Html.DisplayFor(model => model.NTarjeta)
        </dd>

        

    </dl>
</div>
