
@model IEnumerable<EntidadesCompartidas.Venta>

@{
    ViewBag.Title = "FormListarVenta";
}

<h2>Listado Venta</h2>

@ViewBag.Mensaje


<p>
    @Html.ActionLink("Nuevo ", "FormAltaVenta")
    @Html.ActionLink(" Volver", "Principal", "Home")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div>
            @Html.TextBox("DatoFiltro")
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDventa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>

        <th></th>
    </tr>

    @foreach (EntidadesCompartidas.Venta unaVenta in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => unaVenta.IDventa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unaVenta.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unaVenta.Precio)
            </td>

            <td>
                @Html.ActionLink("Modificar", "FormArticuloModificar", new { unaVenta.IDventa}) @**@
                @Html.ActionLink("Consultar", "FormArticuloConsultar", new { unaVenta.IDventa})
                @Html.ActionLink("Borrar", "FormArticuloEliminar", new { unaVenta.IDventa})
            </td>
        </tr>
    }
    }




