@model IEnumerable<EntidadesCompartidas.Empleado>

@{
    ViewBag.Title = "FormListarEmpleado";
}

<h2>Mantenimiento de EMPLEADOS </h2>

@ViewBag.Mensaje @**@



<p>
    @Html.ActionLink("Crear nuevo", "FormAltaEmpleado")@*enrutamiento - mi controlador - MI VISTA*@
    @Html.ActionLink("Volver", "Principal", "Home") @*esto es el menu principal del sistema - esta en otro controlador*@
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsuLog)
        </th>
        <th></th>
    </tr>

    @foreach (EntidadesCompartidas.Empleado item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuLog) @* solo despliega un dato de cada objeto*@
            </td>
            <td>
                @Html.ActionLink("Eliminar", "FormUsuarioBorrar", new { item.UsuLog }) @*no tengo todas las opciones ABM pq no hay consulta, y modifico pass de forma indpendiente*@
            </td>
        </tr>
    }

