
@model EntidadesCompartidas.Aeropuertos

@{
    ViewBag.Title = "BAJA AEROPUERTO";
}

@ViewBag.Mensaje


<h3>Esta Seguro que desea eliminar el siguiente Aeropuerto?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(EntidadesCompartidas=>EntidadesCompartidas.IDAeropuerto)
        </dt>

        <dd>
            @Html.DisplayFor(EntidadesCompartidas => EntidadesCompartidas.IDAeropuerto);
        </dd>

        <dt>
            @Html.DisplayNameFor(EntidadesCompartidas => EntidadesCompartidas.Nombre);
        </dt>
        <dd>
            @Html.DisplayFor(EntidadesCompartidas => EntidadesCompartidas.Direccion);
        </dd>

        <dt>
            @Html.DisplayNameFor(EntidadesCompartidas => EntidadesCompartidas.ImpuestoLlegada);
        </dt>

        <dd>
            @Html.DisplayFor(EntidadesCompartidas => EntidadesCompartidas.ImpuestoParitda);
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Principal")
        </div>
    }
</div>

