
@model  EntidadesCompartidas.Aeropuertos

@{
    ViewBag.Title = "Modificar Aeropuerto";
}

<h2>Modificar Aeropuerto</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm("ModificarAeropuerto", "AeropuertoController.cs", FormMethod.Post))
{
    @Html.HiddenFor(model => model.IDAeropuerto)

    <div>
        <label for="Nombre">Nombre:</label>
        @Html.TextBoxFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div>
        <label for="Ubicacion">Ubicación:</label>
        @Html.TextBoxFor(model => model.Direccion)
        @Html.ValidationMessageFor(model => model.Direccion)
    </div>

    <div>
        <label for="Codigo">Código:</label>
        @Html.TextBoxFor(model => model.IDAeropuerto)
        @Html.ValidationMessageFor(model => model.IDAeropuerto)
    </div>

    <div>
        <label for="Ciudad">Ciudad:</label>
        @Html.DropDownListFor(model => model._Ciudad.IDCiudad, (SelectList)ViewBag.unListaCiudad, "Seleccione una ciudad")
        @Html.ValidationMessageFor(model => model._Ciudad.IDCiudad)
    </div>


    <div>
        <input type="submit" value="Modificar" />
        @Html.ActionLink("Cancelar", "FormAeropuertoConsulta", "Aeropuertos", new { IDAeropuerto = Model.IDAeropuerto })
    </div>
}
