@model  IEnumerable<EntidadesCompartidas.Aeropuertos>

@{
    ViewBag.Title = "Menu de Aeropuertos";
}

<h2>Menu de Aeropuertos</h2>

<p>
    @Html.ActionLink("Añadir Aeropuerto", "FormAltaAeropuerto")
</p>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div>
                @Html.TextBox("Filtro")
                <input type="submit" value="Filtrar" class="btn btn-default" />

            </div>
        </div>

    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._Ciudad.NombreCiudad)
            </th>
            <th></th>
        </tr>

        @foreach (EntidadesCompartidas.Aeropuertos item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._Ciudad.NombreCiudad)
                </td>

                <td>
                    @Html.ActionLink("Modificar", "ModificarAeropuerto", new { item.IDAeropuerto }) |
                    @Html.ActionLink("Consultar", "FormAeropuertoConsultar", new { item.IDAeropuerto }) |
                    @Html.ActionLink("Eliminar", "FormAeropuertoEliminar", new { item.IDAeropuerto })
                </td>
            </tr>
        }

    </table>
