@model  EntidadesCompartidas.Aeropuertos

@{
    ViewBag.Title = "Eliminar Aeropuerto";
}

<h2>Eliminar Aeropuerto</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm("FormBajaAeropuerto", "AeropuertoController.cs", FormMethod.Post))
{
    @Html.HiddenFor(model => model.IDAeropuerto)

    <div>
        <label>Nombre:</label>
        <span>@Html.DisplayFor(model => model.Nombre)</span>
    </div>

    <div>
        <label>Ubicación:</label>
        <span>@Html.DisplayFor(model => model.Direccion)</span>
    </div>

    <div>
        <label>Código:</label>
        <span>@Html.DisplayFor(model => model.IDAeropuerto)</span>
    </div>

    

    <div>
        <p>¿Está seguro de que desea eliminar este aeropuerto?</p>
        <input type="submit" value="Eliminar" />
        @Html.ActionLink("Cancelar", "MenuAeropuerto", "Aeropuerto")
    </div>
}
