@model  EntidadesCompartidas.Aeropuertos
@{
    ViewBag.Title = "Eliminar Aeropuerto";
}

<h2>Eliminar Aeropuerto</h2>

@ViewBag.Mensaje

<h3>¿Esta Seguro de eliminar este Aeropuerto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDAeropuerto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDAeropuerto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._Ciudad.NombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Ciudad.NombreCiudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpuestoParitda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpuestoParitda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImpuestoLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImpuestoLlegada)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>
