@model EntidadesCompartidas.Aeropuertos

@{
    ViewBag.Title = "Consultar Aeropuerto";
}

<h2>Consultar Aeropuerto</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@if (Model != null && !string.IsNullOrEmpty(Model.IDAeropuerto))
{
    <div>
        <label>Nombre:</label>
        <span>@Html.DisplayFor(model => model.Nombre)</span>
    </div>

    <div>
        <label>Ubicación:</label>
        <span>@Html.DisplayFor(model => model.Direccion)</span>
    </div>

    <div>
        <label>Código:</label>
        <span>@Html.DisplayFor(model => model.IDAeropuerto)</span>
    </div>

    <div>
        <label>Ciudad:</label>
        <span>@Html.DisplayFor(model => model._Ciudad.NombreCiudad)</span>
    </div>

    
}
else
{
    <div>
        <p>No se encontró información del aeropuerto.</p>
    </div>
}

<div>
    @Html.ActionLink("Volver al Menú", "MenuAeropuertos", "Aeropuertos")
</div>