@model  EntidadesCompartidas.Aeropuertos

@{
    ViewBag.Title = "Agregar Aeropuerto";
}

<h2>Agregar Aeropuerto</h2>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

@using (Html.BeginForm("FormAgregarAeropuerto", "AeropuertoController.cs", FormMethod.Post))
{
    <div>
        <label for="Nombre">Nombre:</label>
        @Html.TextBoxFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div>
        <label for="Direccion">Direccion:</label>
        @Html.TextBoxFor(model => model.Direccion)
        @Html.ValidationMessageFor(model => model.Direccion)
    </div>

    <div>
        <label for="Codigo">Código:</label>
        @Html.TextBoxFor(model => model.IDAeropuerto)
        @Html.ValidationMessageFor(model => model.IDAeropuerto)
    </div>

    <div>
        <label for="Ciudad">Ciudad:</label>
        @Html.DropDownListFor(model => model._Ciudad.IDCiudad, (SelectList)ViewBag.ListaC, "Seleccione una ciudad")
        @Html.ValidationMessageFor(model => model._Ciudad.IDCiudad)
    </div>



    <div>
        <input type="submit" value="Agregar" />
    </div>
}

