@model  EntidadesCompartidas.Aeropuertos

@{
    ViewBag.Title = "Menu de Aeropuertos";
}

<h2>Menu de Aeropuertos</h2>

<form method="get" action="@Url.Action("MenuAeropuertos", "AeropuertoController.cs")">
    <div>
        <label for="Filtro">Filtrar por nombre:</label>
        <input type="text" id="Filtro" name="Filtro" value="@Request.QueryString["Filtro"]" />
        <input type="submit" value="Filtrar" />
    </div>
</form>

@if (ViewBag.Mensaje != null)
{
    <div style="color:red;">
        @ViewBag.Mensaje
    </div>
}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>IDaeropuerto</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var aeropuerto in Model)
        {
            <tr>
                <td>@aeropuerto.Nombre</td>
                <td>@aeropuerto.Direccion</td>
                <td>@aeropuerto.IDAeropuerto</td>
                
            </tr>
        }
    </tbody>
</table>