@model Persistencia.FabricaPersistencia.GetPersistenciaAeropuerto

@{
    ViewBag.Title = "LISTAR AEROPUERTOS";
}

<h2>LISTADO DE AEROPUERTOS</h2>

@ViewBag.Mensaje


<p>
  
    @Html.ActionLink(" Volver", "Principal", "Home")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div>
            @Html.TextBox("DatoFiltro")
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDAeropuerto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

</table>
  @*   @foreach (Sitio.Models.Articulo unArt in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => unArt.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unArt.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unArt.Precio)
            </td>
            <td>
                @Html.ActionLink("Modificar", "FormArticuloModificar", new { unArt.Codigo }) @**@
                @Html.ActionLink("Consultar", "FormArticuloConsultar", new { unArt.Codigo })
                @Html.ActionLink("Borrar", "FormArticuloEliminar", new { unArt.Codigo })
            </td>
        </tr>
    } *@


</table>
